<a href="https://colab.research.google.com/github/lenaphamthi/bai_tap_pandas/blob/main/bai_tap_pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

bai 1

In [ ]:
import pandas as pd
pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Series([], dtype: float64)

bai 2

In [ ]:
import numpy as np
import pandas as pd
a = np.random.randint(1,10,[1,7])
pd.Series([a])

0    [[3, 4, 8, 1, 7, 2, 6]]
dtype: object

bai 3

In [ ]:
a = np.array(input("nhap 7 phan tu bat ky: "))
pd.Series([a])

nhap 7 phan tu bat ky: 5,6,7,3,5,6,3

0    5,6,7,3,5,6,3
dtype: object

bai 4

In [ ]:
a = np.array(input("nhap phan tu 1: "))
b =np.array(input("nhap phan tu 2: "))
c =np.array(input("nhap phan tu 3: "))
d =np.array(input("nhap phan tu4: "))
e=np.array(input("nhap phan tu 5 "))
f =np.array(input("nhap phan tu 6: "))
g =np.array(input("nhap phan tu 7: "))
pd.Series([a,b,c,d,e,f,g])

nhap phan tu 1: 4
nhap phan tu 2: 5
nhap phan tu 3: 7
nhap phan tu4: 9
nhap phan tu 5 0
nhap phan tu 6: 2
nhap phan tu 7: 4

0    4
1    5
2    7
3    9
4    0
5    2
6    4
dtype: object

bai 5

In [ ]:
l1 = [1,2,3,4]
print(l1)
print("chuyen list thanh series: ",pd.Series([l1]))

[1, 2, 3, 4]
chuyen list thanh series:  0    [1, 2, 3, 4]
dtype: object

In [ ]:
t1 = (1,3,4,5)
print(t1)
print("chuyen tuple thanh series: ",pd.Series([t1]))

(1, 3, 4, 5)
chuyen tuple thanh series:  0    (1, 3, 4, 5)
dtype: object

In [ ]:
d1 = {'name': 'Na', 'age':18}
print(d1)
print("chuyen dict thanh series: ", pd.Series(d1))

{'name': 'Na', 'age': 18}
chuyen dict thanh series:  name    Na
age     18
dtype: object

bai 6

In [ ]:
x = np.random.randint(1,20,[1,20])
print(pd.Series([x]))
print("thay doi ten chi so cua series: ",pd.Series([x],index =["a"]))

0    [[6, 19, 2, 4, 2, 7, 11, 18, 7, 9, 8, 3, 1, 6,...
dtype: object
thay doi ten chi so cua series:  a    [[6, 19, 2, 4, 2, 7, 11, 18, 7, 9, 8, 3, 1, 6,...
dtype: object

In [ ]:
import pandas as pd
import numpy as np
a =pd.Series(np.random.randint(1,20,[20]))
print(a)
l1 = ['a','b','c','d','e','f','g','h','l','m','n','i','j','k','o','p','q','t','u','w']
a.index=l1
print("Thay doi cach danh chi so: ",a)

0     12
1      9
2     13
3      1
4      5
5      5
6     12
7      6
8      9
9     19
10     5
11    17
12    13
13     6
14     7
15     5
16    16
17    11
18     8
19     7
dtype: int64
Thay doi cach danh chi so:  a    12
b     9
c    13
d     1
e     5
f     5
g    12
h     6
l     9
m    19
n     5
i    17
j    13
k     6
o     7
p     5
q    16
t    11
u     8
w     7
dtype: int64

bai 7

In [ ]:
import pandas as pd
import numpy as np
b = pd.Series(np.random.randint(1,10,[10]))
l2 = ['a','b','c','d','e','f','g','h','l','m']
b.index = l2
print(b)
print("chi so a: ",b.loc['a'])
print("chi so c: ",b.loc['c'])
print("chi so e: ",b.loc['e'])

a    2
b    6
c    7
d    8
e    1
f    8
g    6
h    8
l    9
m    2
dtype: int64
chi so a:  2
chi so c:  7
chi so e:  1

In [ ]:
b = pd.Series(np.random.randint(1,10,[10]))
print(b)
print("chi so tu 3 den 6: ",b.iloc[3:7])

0    8
1    5
2    2
3    7
4    9
5    2
6    5
7    8
8    9
9    2
dtype: int64
chi so tu 3 den 6:  3    7
4    9
5    2
6    5
dtype: int64